body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FFBB00;
    background-color: #333333;
    background-image: radial-gradient(#000981 0.5px, #333333 0.5px);
    background-size: 10px 10px;
    overflow: hidden;
    max-width: 100vw;
    touch-action: none;
}

b {
    color: ##a5000;
}

.container {
    background: 
      linear-gradient(135deg,#0000 20.5%,#000981 0 29.5%,#0000 0) 0 15px,
      linear-gradient( 45deg,#0000 8%,#000981 0 17%, #0000 0 58%) 30px 0,
      linear-gradient(135deg,#0000 8%,#000981 0 17%, #0000 0 58%,#000981 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#000981 0 17%, #0000 0 58%,#000981 0 67%,#0000 0 83%,#000981 0 92%,#0000 0),
      #000000;
    background-size: 60px 60px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Zorgt ervoor dat de container de beschikbare ruimte opvult */
    max-width: 100%;
    width: 100%; /*toegevoegd! */
    overflow: hidden; /*gewijzigd van auto naar hidden!*/
}

footer {
    background-color: #333333;
    background-image: radial-gradient(#FFBB00 0.5px, transparent 0.5px), radial-gradient(#FFBB00 0.5px, #333333 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 1000;
    box-shadow: 0px -5px 21px 0px rgba(0, 0, 0, 0.35);
}

.footercontainer {
    text-align: center;
    max-width: 100vw;
}

.mobile-menu {
  position: relative;
  left: 20px;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
}

.menu-items {
  z-index: 1000;
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background:
    linear-gradient(135deg,#0000 20.5%,#281c00 0 29.5%,#0000 0) 0 5px,
    linear-gradient( 45deg,#0000 8%,#281c00 0 17%, #0000 0 58%) 10px 0,
    linear-gradient(135deg,#0000 8%,#281c00 0 17%, #0000 0 58%,#281c00 0 67%,#0000 0),
    linear-gradient( 45deg,#0000 8%,#281c00 0 17%, #0000 0 58%,#281c00 0 67%,#0000 0 83%,#281c00 0 92%,#0000 0),
    #000000;
  background-size: 20px 20px;
  color: #FFBB00;
  box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.75), 0px -5px 5px 0px rgba(0,0,0,0.35);
}

#menu-toggle:checked ~ .menu-items {
  display: block;
}

.menu-items li {
  padding: 10px;
}

.menu-items a {
  text-decoration: none;
  color: #cf9800;
}

.step-indicators {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Zorgt ervoor dat knoppen worden gewrapt op kleinere schermen */
}

.step-indicators .step {
    background-color: #0011ff;
    color: #333333;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    /*box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);*/
}

.step.active {
    background-color: #333333;
    color: #0011ff;
}

.controls {
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat knoppen worden gewrapt op kleinere schermen */
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.controls2 {
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat knoppen worden gewrapt op kleinere schermen */
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: column;
}

.controls button,
.controls input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; /* Aanpassen naar de gewenste hoogte van de knop */
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #333;
    color: #FFBB00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

.controls input {
    width: 60px;
    text-align: center;
    touch-action: none;
}

.bpm-label {
    display: flex;
    align-items: center;
    font-size: 12px !important;
    height: 40px; /* Zelfde hoogte als de input en button */
    margin-right: 5px;
}

#play {
    display: none;
}

#loadButton {
    background-color: #8f6900;
    color: #000000;
}

#pause {
    display: none;
}

#stop {
    display: none;
}

.drum-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.drum-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.drum-row span {
    width: 100px;
    text-align: left;
}

.steps {
    display: flex;
    gap: 5px;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.35);
}

.grid-cell {
    background-color: #333;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.7;
}

.grid-cell.active {
    opacity: 0.9;
    background-color: #ff0000;
    box-shadow: inset 0 0 0 4px #000000, 10px 10px 30px 0px rgba(0,0,0,0.90);
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
        max-width: 100vw;
        touch-action: none;
    }
    .step-indicators .step {
        width: 25px;
        height: 25px;
        font-size: 10px;
        line-height: 20px;
    }

    .step-indicators {
        flex-wrap: wrap;
        overflow-x: hidden;
        justify-content: flex-start;
        padding-bottom: 10px;
        padding-left: 2px;
        margin-right: 5px;
        align-items: center;
    }

    .controls button,
    .controls input {
        padding: 5px;
        font-size: 14px;
        box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    }
    .controls button {
        line-height: 1 !important;
    }
    .grid-cell {
        width: 30px;
        height: 30px;
    }

    .drum-row span {
        width: 80px;
        font-size: 14px;
    }

    .mobile-menu {
        display: block;
        position: static;
        margin-bottom: 10px;
    }

    .step.active {
        background-color: #333333;
    }
    .bpm-label {
        display: none;
    }
}
